*,*::before,*::after{
    box-sizing: border-box;
}

.modal{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: aliceblue;
    width: 500px;
    max-width: 80%;

}

.head{
    display: flex;
    justify-content: space-between;

}

#overlay{
    position: relative;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}